body {
  background-color: rgb(26, 26, 26);
  position: relative;
}
.nothing {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align:center;
}
.nothing h1 {
  color: white;
}
.nothing h1 span {
  color:rgba(255,255,255,40);
}
