html, body {
  padding: 0;
  margin: 0;
  height:100%
}
body {
  background-color: rgb(26, 26, 26);
  position: relative;
  background-image:radial-gradient(250vh at bottom,rgba(0, 255, 234, 0.025),rgba(0, 0, 0, 0) 60%);
}
.nothing {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align:center;
  
}
.anfang {
  color:rgba(255,255,255);
}
.ende {
  color:rgba(255,255,255,.1);
  font-size: 1rem;
}
